{% extends "base.html" %} {% block content %}
    <div class="main">
        
        <div class="content">

            <h1>MIND YOUR TASKS</h1>
            &nbsp;
            <p class="name2">Show your pet some love... <br>DO YOUR TASKS!</p>
        </div>

        <div>
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>

        <div class="navbar">
            <div class="navbar2">
                <button type="button"><a href="/register">Sign Up</a></button>
                &nbsp;
                <button type="button"><a href="/login">Log In</a></button>
            </div>

        </div>

        </div>
    </div>
{% endblock %}