<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../static/styles/style.css?v=1.0.23">
    <link rel = "icon" href = 
    "../static/images/bee.png" 
    type = "image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,300&display=swap" rel="stylesheet">

    <title>Mind Your Tasks</title>
</head>
<body>
    <div class="main">
        <div class="navbar">
            <p class="name">
                Mind Your Tasks
            </p>
            <div class="navbar2">
                <button type="button"><a href="/register">Sign Up</a></button>
                &nbsp;
                <button type="button"><a href="/login">Log In</a></button>
            </div>

        </div>
        <div class="content">

            <h1>MIND YOUR TASKS</h1>
            &nbsp;
            <p class="name2">Do you need motivation to do your tasks?<br>How about a virtual pet you can grow?<br>
                Join our website for a relaxing study session with your pet.</p>
        </div>

        <div class="animals">
            <img src="../static/images/cow.png">
            <img src="../static/images/hen.png">
            <img src="../static/images/koala.png">
            <img src="../static/images/lion-2.png">
            <img src="../static/images/bee.png">
            <img src="../static/images/penguin.png">
            <img src="../static/images/owl.png">

        </div>
    </div>


</body>
</html>