{% extends "base.html" %} {% block content %}
<h3 class="title">Login</h3>
<div class="loginBox">
  <img class="petImage" src="../static/images/cuteCat2.gif" />
  <form class="formBoxLogin" action="" method="POST">
    <label>Username</label>
    <input
      name="username"
      type="email"
      class="loginInput"
      placeholder="Username"
    />
    <label>Password</label>
    <input
      name="password"
      type="password"
      class="loginInput"
      placeholder="password"
    />
    <div class="errorBox">
        {% for message in get_flashed_messages() %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
    <input class="inputButton" value="Login" type="submit" />
    <a class="links" aria-current="page" href="/register">Register</a>
  </form>
</div>

{% endblock %}
